@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* gray */

  --bg-change: #000;
  --text-change: #fff;

  --color-gray-0: #9d9d9d;
  --color-gray-200: #d3d3d3;
  --color-gray-400: #afafaf;
  --color-gray-600: #7c7c7c;
  --color-gray-800: #343434;
  --color-gray-900: #202020;
  --color-yellow-0: #fffbf5;

  --color-customBlack: #1e1e1e;
  /* blue */
  --color-blue-0: #f5fbff;
  --color-blue-100: #c5e7fd;
  --color-blue-200: #98d2f9;
  --color-blue-300: #70bef2;
  --color-blue-400: #50ace9;
  --color-blue-500: #389bdd;
  --color-blue-600: #278acd;
  --color-blue-700: #1b79b8;
  --color-blue-800: #1367a0;
  --color-blue-900: #0e5687;

  /* yellow */
  --color-yellow-100: #fde9c5;
  --color-yellow-200: #f9d798;
  --color-yellow-300: #f2c570;
  --color-yellow-400: #e9b450;
  --color-yellow-500: #dda338;
  --color-yellow-600: #cd9327;
  --color-yellow-700: #b8811b;
  --color-yellow-800: #a06f13;
  --color-yellow-900: #875d0e;
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
/* section{
  border: 1px solid red;
} */

body {
  font-family: "Work Sans";
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.char{
  opacity: 0;
  transform: translateY(100px);
}


.i-carbon-close {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M17.414 16L24 9.414L22.586 8L16 14.586L9.414 8L8 9.414L14.586 16L8 22.586L9.414 24L16 17.414L22.586 24L24 22.586z'/%3E%3C/svg%3E");
  mask: var(--un-icon) no-repeat;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
}
section {
  max-width: 1920px;
  margin-inline: auto;
}

.Line:not(:last-child) {
  margin-block: 30px;
  width: 80%;
  /* margin-inline: auto; */
  border-color: black;
}

.blurnav {
  height: 300%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateZ(0) translateY(-30%);
  transform-origin: left top;
  transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1),
    height 1s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100%;
  z-index: 5;
}

.blurnav > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.blurnav > div:first-of-type {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  -webkit-mask: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 0,
    #fff 12.5%,
    #fff 37.5%,
    hsla(0, 0%, 100%, 0) 50%
  );
  mask: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 0,
    #fff 12.5%,
    #fff 37.5%,
    hsla(0, 0%, 100%, 0) 50%
  );
  z-index: 2;
}
.blurnav > div:nth-of-type(2) {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  -webkit-mask: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 12.5%,
    #fff 37.5%,
    #fff 50%,
    hsla(0, 0%, 100%, 0) 62.5%
  );
  mask: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 12.5%,
    #fff 37.5%,
    #fff 50%,
    hsla(0, 0%, 100%, 0) 62.5%
  );
  z-index: 3;
}
.blurnav > div:nth-of-type(3) {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-mask: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 37.5%,
    #fff 50%,
    #fff 62.5%,
    hsla(0, 0%, 100%, 0) 75%
  );
  mask: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 37.5%,
    #fff 50%,
    #fff 62.5%,
    hsla(0, 0%, 100%, 0) 75%
  );
  z-index: 4;
}
.blurnav > div:nth-of-type(4) {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  -webkit-mask: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 50%,
    #fff 62.5%,
    #fff 75%,
    hsla(0, 0%, 100%, 0) 87.5%
  );
  mask: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 50%,
    #fff 62.5%,
    #fff 75%,
    hsla(0, 0%, 100%, 0) 87.5%
  );
  z-index: 5;
}

#our_process {
  background: rgb(248, 246, 242);
  background: linear-gradient(
    0deg,
    rgba(248, 246, 242, 1) 31%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media only screen and (max-width : 768px) {
.mpoint {
    background: linear-gradient(
      to right,
      rgb(0, 0, 0) 50%,
      rgba(90, 90, 90, 0) 50%
    );
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

}

@media (orientation: portrait) {
  .blurnav > div {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
  }

  .blurnav > div:nth-of-type(3) {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

@media only screen and (max-width: 1024px) {
  .Line:not(:last-child) {
    width: 100%;
  }
}

.line {
  height: 1px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.line svg {
  width: 100%;
  height: 500px;
  position: absolute;
  top: -250px;
  pointer-events: none;
}

.line svg path {
  stroke: white;
  stroke-width: 1px;
  fill: none;
}

.line .box {
  height: 40px;
  width: 100%;
  position: relative;
  top: -20px;
  z-index: 1;
}

.line .box:hover {
  height: 500px;
  top: -250px;
}

.no-scroll {
  overflow: hidden;
}
